.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: 'Gabriela', serif;
  background-color: rgb(178, 191, 159);
  height: 3.3%;
}

.socialMedia {
  display: flex;
  align-items: center;
  margin-left: 70%
}

.socialImage {
  width: 20px;
  height: 20px;
  margin: 4px;
}
