.socialImage {
  width: 20px;
  height: 20px;
}

.socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Gabriela', serif;
  background-color: rgb(178, 191, 159);
  height: 46px;
}
