@import url('https://fonts.googleapis.com/css?family=Gabriela&display=swap');

.bm-burger-button {
  margin-left:92vw;
  position: absolute;
  width: 30px;
  height: 10px;
  left: 0px;
  top: 25px;
  right: 0px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: rgb(6,63,35);
  width: 21px;
  height: 3px;
  margin-top: 4px;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  width: 90%;
  height: 100%;
  opacity: 0.8;
  overflow:hidden;

}

/* General sidebar styles */
.bm-menu {
  background-color: rgba(255,255,255);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  height: 50%;

}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  text-align: left;
}

/* Individual item */
.bm-item {
  display: inline-block;
  text-decoration: none;
  color: black;
  margin-bottom: 15px;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* .coverDiv {
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  position: absolute;
  z-index: 0;


} */
.iconHeart {
  color:rgb(217,137,108);
  margin: 7px 0 7px 0;
  font-size: 24px;
  margin-right: 10px;
}
.iconNone {
  display:none;
  color:rgb(217,137,108);
  margin: 7px 0 7px 0;
  font-size: 24px;
  margin-right: 10px;
}

.iconSearch {
  margin: 7px 0 7px 0;
  font-size: 24px;
}

.menuClass {
  /* position: fixed; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: right;
  height: 75px;
  background-color: rgb(178, 191, 159);
}

/* .menuClass .menuName {
  position: fixed;
}

.menuClass .navIcons {
  position:fixed;
} */

.menuName {
  font-family: 'Gabriela', serif;
  font-size: 40px;
  margin: 3px 0 4px 12.4px;
  width: 250px;
}

.menuSet {
    background-color: white;
}

.navIcons {
  margin: 0px 11% 6px 0px;
}

.brad {
  color: black;
  margin-bottom: 15px;
  font-size: 24px;
}

.bradpitt {
  width: 50px;
  border-radius: 30px;
}

@media(max-width: 426px) {
  .menuClass {
    height: 35px;
  }

  .menuName {
    font-size: 21px;
    width: 129px;
  }

  .bm-burger-button {
    top: 7px;
  }
}
