
.progressbar {
  /* height: 12px; */
  /* width: 71%; */
  background-color: rgb(211,240,240);
  background-image: url('../images/progressApp.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;

  align-items: center;
  /* margin-left: 20%; */
  padding-top: 5%;
  margin-top: 26px;

}

.progressContainer {
  background-color: rgb(211,240,240);
  height: 56px;
}

.iconNone {

}
/* .indicator {
  display: flex;
  flex-direction: column;
} */

@media(min-width: 480px) {
  .progressContainer {
    background-color: white
  }
  .progressbar {
    display: flex;
    align-items: center;
    margin-left: 15%;
    padding-top: 5%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../images/progressDesktop.png');
  }
}
