
.progressbar {
  /* height: 12px; */
  width: 71%;
  margin-top: 1%;
}

.progressContainer {
  background-color: rgb(211,240,240);
  height: 56px;

}

/* .indicator {
  display: flex;
  flex-direction: column;
} */
