.recipes {
  height: 33%;
  width: 40%;
  margin: 1%;
  transition: all .2s ease-in-out;
}

.recipesContainer {
  background-color: rgb(211,240,240);
}

.recipesLabel {
  writing-mode: vertical-rl;
  z-index: 99;
  background: rgb(178, 191, 159);
  border-radius: 15px;
  padding: 10px;
  font-family: 'Roboto';
  display: inline-flexbox;
  position: absolute;
  left: 0;
  margin-top: 20px;
  font-weight: bold;
}
.recipesLabel:hover {
    background-color: white;


  }

.recipes:hover {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  animation-duration: 1s;
  border-left: 8px solid lightblue;
  box-shadow: 0 14px 28px rgba(0,0,0,0.50), 0 10px 10px rgba(0,0,0,0.22);
  transform: scale(1.1);
}

@media(max-width: 426px) {
  .recipesLabel {
    writing-mode: horizontal-tb;
    margin-top: -40px;
    margin-bottom: 7px;
  }

  .recipes {
    width: 90%;
  }

  .recipesContainer {
    padding-top: 50px;
  }
}
