.thisWeekContainer {
  height: 322px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.circleBase {
  border-radius: 50%;
  margin-right: 3%;
  box-shadow: 2px 4px 15px rgba(0, 0, 0, .2);
}

.type1 {
  width: 10%;
  height: 50%;
  background-color: rgba(217, 152, 30, 0.5);
  cursor: pointer;
  transition: ease .4s;
}

.type1:hover {
  transform: scale(1.02);
}

.type2 {
  width: 3%;
  height: 15%;
  background-color: rgb(178, 191, 159);
  font-size: 35px;
  text-align: center;
  cursor: pointer;
  transition: ease .4s
}

.type2:hover {
  transform: scale(1.15)
}

.chickenP {
  opacity: .8;
  background: url("https://thewanderlustkitchen.com/wp-content/uploads/2016/05/pasta-for-one-3.jpg");
  background-size: cover;
  background-position: center;
  transition: ease .4s;
}

.chickenP:hover {
  opacity: 1;
}

.lobsterR {
  opacity: .87;
  /* background: url("https://s3.amazonaws.com/pixtruder/original_images/d65ed8e02f31454ea24295bf0537da50f8b8101c"); */
  background-size: cover;
  background-position: center;
  transition: ease .4s;
}

.lobsterR:hover{
  transform: scale(1.02);
  opacity: 1;
}

.hidden { 
  display: none;
}

.chickenN {
  /* background: url("https://food.fnr.sndimg.com/content/dam/images/food/fullset/2013/2/14/0/FNK_Maple-Bacon-Grilled-Cheese_s4x3.jpg.rend.hgtvcom.826.620.suffix/1382542424660.jpeg"); */
  background-size: cover;
  background-position: center;
  opacity: .87;
}

.chickenN:hover {
  opacity: 1;
}

.thisWeekContainerLabel {
  writing-mode: vertical-rl;
  z-index: 99;
  background: rgb(178, 191, 159);
  border-radius: 15px;
  padding: 10px;
  font-family: 'Roboto';
  display: inline-flexbox;
  position: absolute;
  left: 0;
  font-weight: bold;
  /* margin-right: 450px; */

}

@media(max-width: 376px) {
  .thisWeekContainerLabel {
    writing-mode: horizontal-tb;
    margin-top: -95px;
  }


  .thisWeekContainer {
    height: 245px;
    display: flex;
    flex-wrap: wrap;
  }

  .type1 {
    height: 62px;
    width: 62px;
    margin-right: 45px;
    margin-top: 72px;
  }

  .btm { 
    margin-top: 17px;
    margin-bottom: 32px;
  }

  .chickenP {
    margin-left: 40px;
  }

  .forthInRow {
    margin-left: 40px
  }

  .type2 {
    height: 22px;
    width: 20.4;  
    font-size: 15px;
    display: none;
  }

  .hidden {
    display: flex;
   }
}